@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* общие стили -------------------------- */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.8;
}

.hide {
    display: none !important;
}

.title-wrapper {
    margin-bottom: 60px;
}

.title {
    margin-bottom: 17px;

    color: #676770;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.subtitle {
    color: #8e8e9c;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.common-section {
    text-align: center;
    padding: 80px 0;
}

.common-section--dark {
    background-color: #192024;
}

.common-section--dark * {
    color: #fff;
}

.common-section--dark .subtitle {
    color: #E8E8E8;
}


/* header -------------------------- */

.header {
    padding: 20px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav ul {
    display: flex;
}

.header__nav li + li {
    margin-left: 40px;
}

.header__nav a {
    color: #676770;
    font-size: 16px;
    transition: color 0.4s;
}

.header__nav a:hover {
    color: #0082F3;
}

.header__nav a:active {
    color: #0018F3;
}

/* MAIN ---------------------- */

.main {

}

/* WELCOME ---------------------- */

.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    background-color: #202126;
    background-image: url("../img/main.jpg");
    background-size: cover;
    background-position: center;
}

.welcome__heading {
    margin-bottom: 100px;

    font-size: 59px;
    text-align: center;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.welcome__links > * + * {
    margin-left: 20px;
}

.link-primary { 
    display: inline-block;
    padding: 11px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #69B9FF;
    border-radius: 4px;
    max-width: 183px;

    transition: background-color 0.3s;
}

.link-primary:hover {
    background-color: #7cc2ff;
}

.link-primary:active {
    background-color: #0f8fff;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    max-width: 183px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color 0.3s, background-color 0.3s;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.8);
}

.link:active {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}

/* ABOUT ------------------------------ */

.about {

}

.about .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.about .card {
    padding: 35px 15px 23px;
    width: 300px;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
}

.about .card img {
    margin-bottom: 20px;
    width: 94px;
    height: 94px;
    object-fit: contain;
}

.about .card h4 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
}


/* ABOUT (WHAT WE DO)======================= */

.services {
}

.services .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.services .card {
    width: 45%;
}

.services .card img {
    margin-bottom: 20px;
}

.services .card h4 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.services .link {
    margin-top: 15px;
}