footer{
	/*display: block;
	width: 100%;
	background: #7c8d98;*/
}

footer *{
	/*color: #fff;*/
}

footer a{
	/*color: #fff;*/
}

footer *:before, footer *:after{
	cursor:default;
}

footer a:hover{
	/*color: rgba(250, 180, 100, 1);*/
}

footer .wrapper{
	display: block;
	position: relative;
	
	padding:0px 0px 0px 0px;
	width:1200px;
	height: 100%;
	margin: 0px auto;
	border: solid 0px #f00;
}

footer .wrapper section{
	display: table-cell;	
	border: solid 0px #fff;
	
	margin: 0px 0px 0px 0px;
	padding: 25px 0px 0px 0px;	
	
}


footer .wrapper copyright{
	display: block;
	font-weight: bold;
}

.made_by{
    display: block;
    line-height: 50px;
	font-size:12px;
    width: 368px;
    margin: auto;
    margin-top: 20px;
} 
.vmaco_logo {
    width: 100px;
    height: 30px;
    background: url(../images/vmaco_logo.png)no-repeat;
    background-size: contain;
    float: left;
    margin: 0 10px 0 0;
    margin-top: 8px;
}
footer .wrapper section:nth-of-type(1){
	width:367px;
}

footer .wrapper section:nth-of-type(2){
	width:238px;
}

footer .wrapper section:nth-of-type(3){
	width:170px;
}

footer .wrapper section:nth-of-type(4){
	width: 200px;
}



footer phones{
	display: block;
	
	border:solid 0px #fff;
	padding: 0px;
	margin: 3px 0px;
	
}

footer phones phone:after{
	content: " ("attr(destination)")";
	font-size: 14px;
	font-style: italic;	
	color: rgba(255, 255, 255, 0.6);
}

footer phones phone{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
}



footer email{	
	display: block;
	font-weight: bold;
	margin:0px 0px 10px 0px;
}

footer email:before{
	display: block;
	content:attr(title);
		
	font-size:12px;
	font-style: italic;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.6);
}



footer skype:before{
	content: "Skype: ";
	font-style: italic;
	color: rgba(255, 255, 255, 0.7);
}

footer skype{
	display: block;
}

footer skype a{
	text-decoration: none;
	font-weight: bold;	
}

footer .wrapper section:nth-of-type(1) a.contacts-info{
	font-weight: bold;
	font-size: 12px;	
}


footer .wrapper section:nth-of-type(3) a{
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin:0 0 6px 0;
}





footer section.socials:before{
	content:"Мы в социальных сетях:";
	display: block;
	width: 100%;
	text-align: left;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 0 0 0 6px;
	border:solid 0 #000;
	
}

footer section.socials{
	border:solid 0 #000;
	border-spacing:5px 0;
	left: 445px;
	top: 11px;
	margin: 0;
	border: solid 0px #000;
}


footer section.socials item{
	display: table-cell;
	width:	40px;
	height: 40px;
	border: 0;
	background: url(http://lasercut.ru/images/logo/socials40.png);
	
	transition: background-position 300ms;
}

footer section.socials item:hover{
	background-position: 0 -40px;
}


footer section.socials item.facebook{
	background-position: -40px 0;
}

footer section.socials item.facebook:hover{
	background-position: -40px -40px;
}



footer section.socials item.youtube{
	background-position: -80px 0;
}

footer section.socials item.youtube:hover{
	background-position: -80px -40px;
}



footer section.socials item.twitter{
	background-position: -120px 0;
}

footer section.socials item.twitter:hover{
	background-position: -120px -40px;
}

footer section.socials item a{
	display: block;
	width:100%;
	height: 100%;
}
.wrap_footer_block_cart {
    width: 100%;
    height: 45px;
}
.block_cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    border-top: 1px solid #1392ff;
    background: #4dadff;
    z-index: 1;
}
.block_center{
    width:1200px;
    margin:auto;
    padding:6px 0;
}
.mark_yandex{
    width: 88px;
    height:31px;
    background: url(../images/mark.png) no-repeat center;
    display:inline-block;
}
.mark_yandex_text {
    display: inline-block;
    width: 115px;
    font-size: 12px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
    font-family: 'Helvetica', sans-serif;
}
.left_footer_block {
    float: left;
    display: none;
}
.right_footer_block {
    float: right;
}
.right_footer_block ul{
    list-style: none;
    margin: 0;
    float: left;
}
.right_footer_block li{
    display: inline-block;
    border-left: 1px solid #1392ff;
    height: 33px;
    margin-right:10px;
}
.right_footer_block li:hover{
    border-left:0;
}
.compare_img{
    width:36px;
    height:31px;
    display: block;
    float:left;
    background: url(../images/sravn.png) no-repeat;
}
.cart_img{
    width:36px;
    height:31px;
    display: block;
    float:left;
    background: url(../images/basket.png) no-repeat;
}
.right_footer_block li p{
    display: block;
    float:left;
    margin: 3px 10px;
    color:#465762;
    font-family: 'Helvetica', sans-serif;
}
.block_output{
    display: block;
    float: left;
    min-width: 10px;
    height: 14px;
    background: #e4e4e4;
    border: 1px solid #7c8d98;
    border-radius: 2px;
    box-shadow: inset 0 2px 0 0 #acb8c0;
    padding: 14px 10px;
    padding-top: 3px;
    text-align: center;
    font-size: 17px;
}
.block_pryse_in_cart{
    height: 10px;
    color: #fff;
    float: left;
    padding: 3px 9px;
    font-size: 17px;
}
.button_by_now {
    display: block;
    padding: 10px 10px;
    height: 11px;
    padding-top: 7px;
    padding-bottom: 13px;
    float: left;
    background: #90aabc;
    border-bottom: 2px solid #6c8ea6;
    border-radius: 2px;
    text-decoration: none;
    color: #465762;
    transition: all ease-in-out 0.3s;
    font-family: 'Helvetica', sans-serif;
}
.button_by_now:hover{
    background: #e84b3c ;
    color:#fff;
}
.hidden{
    display:none!important;
}
.block_a_hovered{
    display: block;
    height: 32px;
    background: #4DADFF;
    margin-top: -6px;
    padding: 6px 10px;
}
.block_a_hovered:hover{
    background: #1392FF;
}

.popup_backet{
    width: 194px;
    height: 35px;
    color: #fff;
    position: fixed;
    bottom: 60px;
    left: 0;
    padding: 5px 0;
    padding-bottom: 8px;
    font-size: 13px;
    text-align: center;
    opacity: 0;
    background: url(../images/backet_popupper.png)no-repeat;
    z-index: 1;
}
#jivo-chat{
    bottom:45px!important;
    z-index: 10;
}