

/* Start:/local/templates/bankfirm/components/bitrix/news.list/video_list/style.css?1701938909223*/
.card_video_items {
    margin-bottom: 50px;
}

.card_video_items iframe {
    w
}

@media(max-width: 700px) {
    .card_video_items iframe {
       width: 100%;
    }
    .card_video_items  {
        padding: 20px;
    }
}
/* End */
/* /local/templates/bankfirm/components/bitrix/news.list/video_list/style.css?1701938909223 */
