

/* Start:/local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/style.css?170918800830260*/
.bx_filter .bx_filter_section{
	position:relative;
}
.bx_filter .bx_filter_title{
	font-size:21px;
	font-weight:bold;
	margin-bottom:10px;
	padding:0 10px;
	color:#000;
	text-shadow:0 1px 0 #fff;
	/*text-align: left;*/
}

.bx_filter .bx_filter_block{
	display:none;
	padding:0;
	/* margin-top: 20px; */
}
.bx_filter .bx_filter_button_box .bx_filter_block,
.bx_filter .bx_filter_parameters_box.active .bx_filter_block{
	display:block;
}
.bx_filter .bx_filter_parameters_box.active .bx_filter_block i{
	font-size: 15px;
	font-style: normal;
	color: #596b70;
	display: block;
	padding-bottom: 3px;
}
/*bx_filter_param_area => bx_filter_parameters_box_container*/
.bx_filter .prop_type_N .bx_filter_parameters_box_container{
	display: flex;
}

.bx_filter .prop_type_N .bx_filter_block label{
	display: block;
	text-align: left;
	padding-bottom: 4px;
	font-size: 13px;
}

/*bx_filter_param_area_block => bx_filter_parameters_box_container_block*/
.bx_filter .bx_filter_parameters_box_container_block{
	font-size:11px;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	color:#3f3f3f;
}
/*bx_input_container => bx_filter_input_container*/
.bx_filter_input_container {
	min-width: 110px !important;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container{
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 90%;
	height:35px;
	padding:1px;	
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(1){
	padding-right: 5px;
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2){
	padding-left: 5px;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input{
	display:block;
	width:100%;
	font-size: 18px;
	height:33px;
	margin: 0;
	padding:0 4px;
	border:none;
	background:#fff;
	border: 1px solid #E4E7EB;
	box-shadow: none;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container{
	max-width:100%;
	position:relative;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container input.calendar{
	padding:0 23px 0 4px;
	font-size:15px;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container img.calendar-icon{
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	font-size:18px;
	top:7px;
	right:3px;
}

/*Track*/
.bx_filter .bx_ui_slider_track{
	position:relative;
	height:4px;
	margin:25px 10px;
	/*
	border:1px solid #8da3ad;
	background:#a1c0c8;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYzBjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2Q1ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1c0c8), color-stop(100%,#b3d5df));
	background:-webkit-linear-gradient(top, #a1c0c8 0%,#b3d5df 100%);
	background:   -moz-linear-gradient(top, #a1c0c8 0%,#b3d5df 100%);
	background:    -ms-linear-gradient(top, #a1c0c8 0%,#b3d5df 100%);
	background:     -o-linear-gradient(top, #a1c0c8 0%,#b3d5df 100%);
	background:        linear-gradient(top bottom, #a1c0c8 0%,#b3d5df 100%);
	box-shadow:0 1px 0 0 rgba(255,255,255,.35);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1c0c8', endColorstr='#b3d5df',GradientType=0 );
	*/
	border: none;
	background: grey;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), inset 0px 1px 1px rgb(0 0 0 / 10%);
}
.bx_filter .bx_ui_slider_part{
	position:absolute;
	top:-6px;
	width:1px;
	height:17px;
	/*
	background:#a2bfc7;
	*/
}
.bx_filter .bx_ui_slider_part.p1{left:-1px;}
.bx_filter .bx_ui_slider_part.p2{left:25%;}
.bx_filter .bx_ui_slider_part.p3{left:50%;}
.bx_filter .bx_ui_slider_part.p4{left:75%;}
.bx_filter .bx_ui_slider_part.p5{right:-1px;}
.bx_filter .bx_ui_slider_part span{
	font-size:11px;
	font-weight: bold;
	position:absolute;
	top:-16px;
	left:50%;
	display:block;
	width:100px;
	margin-left:-50px;
	text-align:center;
	color:#000;
}
.bx_filter .bx_ui_slider_part.p2 span,
.bx_filter .bx_ui_slider_part.p3 span,
.bx_filter .bx_ui_slider_part.p4 span{color:#6b8086;}

.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar,
.bx_filter .bx_ui_slider_pricebar_VD,
.bx_filter .bx_ui_slider_pricebar_VN,
.bx_filter .bx_ui_slider_pricebar_V{
	position:absolute;
	top:-1px;
	bottom:-1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bx_filter .bx_ui_slider_range{
	z-index:50;
}
.bx_filter .bx_ui_slider_pricebar{
	z-index:100;
}

.bx_filter .bx_ui_slider_pricebar_VD{
	z-index:60;
	/*
	border-top:   1px solid #74868e;
	border-bottom:1px solid #74868e;

	background:#849da4;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0OWRhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2FmYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#849da4), color-stop(100%,#93afb7));
	background:-webkit-linear-gradient(top, #849da4 0%,#93afb7 100%);
	background:   -moz-linear-gradient(top, #849da4 0%,#93afb7 100%);
	background:    -ms-linear-gradient(top, #849da4 0%,#93afb7 100%);
	background:     -o-linear-gradient(top, #849da4 0%,#93afb7 100%);
	background:        linear-gradient(top bottom, #849da4 0%,#93afb7 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#849da4', endColorstr='#93afb7',GradientType=0 );
	*/
	background: #FFA200;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), inset 0px 1px 1px rgb(0 0 0 / 10%);
}
.bx_filter .bx_ui_slider_pricebar_VN{
	z-index:70;
	/*
	border:1px solid #8da3ad;
	background:#e8ebef;
	*/
}
.bx_filter .bx_ui_slider_pricebar_V{
	z-index:80;
	top:-1px;
	bottom:-1px;
	/*	border-right:1px solid #1888cc;
		border-left: 1px solid #1888cc;*/
	background: #FFA200;
}



.bx_filter .bx_ui_slider_handle{
	position:absolute;
	/*
	top:100%;
	width:22px;
	height:22px;
	*/
	top: -10px;
	width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border: 1px solid #E8EBEF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 100%;
    margin-bottom: 8px;
    cursor: pointer;
}
.bx_filter .bx_ui_slider_handle:hover{
	-webkit-cursor:grab;
	-ms-cursor:grab;
	-o-cursor:grab;
	cursor:grab;
	color: transparent !important;
}
.bx_filter .bx_ui_slider_handle:focus{
	color: transparent !important;
}
.bx_filter .bx_ui_slider_handle:active{
	-webkit-cursor:grabbing;
	-ms-cursor:grabbing;
	-o-cursor:grabbing;
	cursor:grabbing;
	color: transparent !important;
}
.bx_filter .bx_ui_slider_handle.left{
	left:0;
	margin-left:-24px;
	/*
	background:url(/local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/images/handle_left.png) no-repeat right top;
	*/
}
.bx_filter .bx_ui_slider_handle.right{
	right:0;
	margin-right:-24px;
	/*
	background:url(/local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/images/handle_right.png) no-repeat left top;
	*/
}

/*
*	Select
*
*/
.bx_filter .bx_filter_select_container{
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:35px;
	padding:1px;
	border-radius:3px;
	border: 1px solid #1A345C;
	background: #FFF;
}
.bx_filter .bx_filter_select_block{
	position:relative;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:31px;
	margin:0;
	padding:0 33px 0 10px;
	border:none;
}
.bx_filter .bx_filter_select_text{
	font-size:15px;
	line-height:33px;
	overflow:hidden;
	max-width:100%;
	height:33px;
	cursor:pointer;
	vertical-align:middle;
	white-space:nowrap;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
}
.bx_filter .bx_filter_select_text.fix{
	min-width:120px;
}
.bx_filter .bx_filter_select_text label{
	cursor:pointer;
}
.bx_filter .bx_filter_select_arrow{
	position:absolute;
	top:0;
	right:0;
	width:34px;
	height:33px;
	cursor:pointer;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAG0lEQVQY02OYOXPmf1yYAQRwSsAATglkBch8ADy7LKHqFrgoAAAAAElFTkSuQmCC') no-repeat center;
}
/*
*	Select popup
*
*/
.bx_filter_select_popup{padding:0;}
.bx_filter_select_popup ul{
	margin:0;
	padding:0;
	list-style:none;
}
.bx_filter_select_popup ul li{
	display:block;
	text-align: left;
	vertical-align:middle;
	padding: 0;
}
.bx_filter_select_popup ul li:first-child{
	border-bottom: 1px solid #e5e5e5;
	/* padding-bottom: 5px; */
	/* margin-bottom: 5px; */
}
.popup-window{
	padding: 0;
	min-width: 200px;
}
.bx_filter_select_popup ul li label{
	font-size:14px;
	line-height:26px;
	display:block;
	text-align: left !important;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	padding:6px 15px;
	cursor:pointer;
	vertical-align:middle;
	/*white-space:nowrap;
	text-overflow:ellipsis;*/
	-ms-text-overflow:ellipsis;
	color:#575757;
	max-width: 350px;
}
.bx_filter_select_popup ul li label.selected,
.bx_filter_select_popup ul li label:hover{
	color:#000;
	background:#f3f8fa;
}
.bx_filter_select_popup ul li label.disabled{
	color:#b8b8b8;
	background:transparent;
}
.bx_filter_select_popup ul li .bx_filter_param_text{
	line-height: 26px !important;
}

/*
* TAGS
*
*/
.bx_filter.bx_horizontal .bx_filter_parameters_box.tags{
	width: 100%;
	clear: both
}
.bx_filter .bx_filter_tag{
	padding:18px;
	border:1px solid #aed5e0;
	border-radius:5px;
	background:rgba(151,214,233,.33);
}
.bx_filter .bx_tag_link{
	font-size:12px;
	text-decoration:none;
	color:#68939e;
	border-bottom:1px solid;
	text-shadow:none;
}
.bx_filter .bx_tag_link.active,
.bx_filter .bx_tag_link:hover{
	color:#1d3d46;
	border-bottom:none;
}

/*
*	LABEL
*
*/
.bx_filter .bx_filter_param_label{
	font-size:13px;
	position:relative;
	display:block;
	text-align:left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.bx_filter .bx_filter_param_label.dib{display: inline-block;}
.bx_filter .bx_filter_param_text{
	line-height:34px;
	position:relative;
	display:inline-block;
	margin:0 5px;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.bx_filter .bx_filter_param_label.disabled .bx_filter_param_text{
	color:#6c6c6c;
	/*text-decoration: line-through;*/
}
.bx_filter_select_popup .bx_filter_param_label.active{
	background: #f3f8fa;
}
/*
*	Checkbox / Radio
*
*/
.bx_filter .bx_filter_input_checkbox{
	position:relative;
	display:block;
	clear:both;
	overflow:hidden;
	min-height:20px;
	padding-top:5px;
	padding-bottom:5px;
}
.bx_filter .bx_filter_input_checkbox input[type=radio],
.bx_filter .bx_filter_input_checkbox input[type=checkbox]{
	position: relative;
	top: -3px;
	float:left;
}
.bx_filter .bx_filter_input_checkbox .bx_filter_param_text{
	display: block;
	line-height: 15px;
	margin-left: 25px;
	text-align: left;
}

/*
* 	BTN
*
*/
.bx_filter .bx_filter_param_btn{
	display:inline-block;
	width:34px;
	height:34px;
	text-align:center;
	text-decoration:none;
	color:#000;
	vertical-align: middle;
	border:1px solid #9dbcc3;
	border-radius:3px;
	background:#fbfdfd;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmUxZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfdfd), color-stop(100%,#cfe1e7));
	background:-webkit-linear-gradient(top, #fbfdfd 0%,#cfe1e7 100%);
	background:   -moz-linear-gradient(top, #fbfdfd 0%,#cfe1e7 100%);
	background:    -ms-linear-gradient(top, #fbfdfd 0%,#cfe1e7 100%);
	background:     -o-linear-gradient(top, #fbfdfd 0%,#cfe1e7 100%);
	background:        linear-gradient(top bottom, #fbfdfd 0%,#cfe1e7 100%);
	background-clip:padding-box;
	box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(255,255,255,.22);
	text-shadow:0 1px 0 #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfd', endColorstr='#cfe1e7',GradientType=0 );
	-webkit-transition:border .3s ease, box-shadow .1s ease, color .3s ease;
	-moz-transition:border .3s ease, box-shadow .1s ease, color .3s ease;
	-ms-transition:border .3s ease, box-shadow .1s ease, color .3s ease;
	-o-transition:border .3s ease, box-shadow .1s ease, color .3s ease;
	transition:border .3s ease, box-shadow .1s ease, color .3s ease;
	cursor: pointer;
}
.bx_filter .bx_filter_param_btn:hover{border-color:#b4d5de}
.bx_filter .bx_filter_param_btn:active,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn{
	border-color:#b4d5de;
	background:#fcfefe;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmUyZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#cfe2e7));
	background:-webkit-linear-gradient(top, #fcfefe 0%,#feffff 100%);
	background:   -moz-linear-gradient(top, #fcfefe 0%,#feffff 100%);
	background:    -ms-linear-gradient(top, #fcfefe 0%,#feffff 100%);
	background:     -o-linear-gradient(top, #fcfefe 0%,#feffff 100%);
	background:        linear-gradient(top bottom, #fcfefe 0%,#cfe2e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefe', endColorstr='#feffff',GradientType=0 );
	box-shadow:0 0 0 3px #2995d7,inset 0 2px 3px rgba(0,0,0,.12);
}
/* --- colors */
.bx_filter .bx_filter_param_btn.bx_color_sl{
	/*width:24px;*/
	/*padding:0 1px;*/
}
.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl{
	background: transparent;
	box-shadow: none
}
.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl{position: relative;}
.bx_filter .bx_filter_param_label.disabled .bx_filter_param_btn.bx_color_sl:before{
	position: absolute;
	bottom:0;
	right: 0;
	top: 0;
	left: 0;
	content: ' ';
	/*width: 19px;*/
	/*height:19px;*/
	display: block;
	z-index:100;
	background: url(../../../../../../local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/images/missing_v2.png) no-repeat center;
	opacity: .7;
}

/*
* BTN P/M
*
*/
.bx_filter .bx_filter_param_btn.bx_spm{
	width:23px;
	min-width:23px;
	height:23px;
	padding:0;
	vertical-align: middle;
}
.bx_filter .bx_filter_param_btn.bx_spm.bx_minus{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC), -webkit-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC),	  -o-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAECAIAAADXmFKkAAAAIUlEQVQYV2NgKFmCD5UuYUDno5ElUBWLoUJwUWT0nxAAABiMRP18QPJ4AAAAAElFTkSuQmCC),		 linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-repeat:no-repeat,repeat;
	background-position:center 10px,center;
}
.bx_filter .bx_filter_param_btn.bx_spm.bx_plus{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==), -webkit-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==),	  -o-linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAATElEQVQoz2NgQAclS/7DMUEAVriYWMVQhSCaKJNLcTmjFMmNyBibOFgQLrEYu0a4YrCCxbhNQxb7jwaQFWLIUR7OpUtIDWciFONzIwAP8KL1rVnYDQAAAABJRU5ErkJggg==),		 linear-gradient(#fbfdfd 0%, #cfe1e7 100%);
	background-repeat:no-repeat,repeat;
	background-position:center 6px,center;
}
.bx_filter .bx_filter_param_btn.bx_spm:active{
	outline:none !important;
	box-shadow:inset 0 2px 3px rgba(0,0,0,.12);
}
.bx_filter span.bx_spm{
	font-size:18px;
	font-weight:bold;
	line-height:23px;
	display:inline-block;
	height:23px;
	margin:0 10px;
	vertical-align:middle;
	color:#000;
}

/*
*	icon
*
*/
.bx_filter_select_popup .bx_filter_select_text_icon,
.bx_filter .bx_filter_select_text_icon{
	line-height:33px;
	position:relative;
	display:inline-block;
	width:24px;
	height:24px;
	margin-top:-2px;
	margin-right:2px;
	vertical-align:middle;
	border-radius:2px;
}
.bx_filter_select_popup .bx_filter_btn_color_icon,
.bx_filter .bx_filter_btn_color_icon{
	line-height:24px;
	position:relative;
	top:5px;
	border-radius: 2px;
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
	-webkit-background-size:cover;
	background-size:cover;
}
.bx_filter_select_popup .bx_filter_btn_color_icon{
	width:20px;
	height:20px;
	margin:2px 0;
	top: 0 !important;
}
.bx_filter .bx_filter_select_block .bx_filter_btn_color_icon{
	top:-1px !important;
}
.bx_filter_btn_color_icon.all {
	position: relative;
	border: none;
	box-shadow: none
}

.bx_filter_btn_color_icon.all:after,
.bx_filter_btn_color_icon.all:before{
	position: absolute;
	width: 60%;
	height:60%;
	background: #fff;
	content: " ";
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.bx_filter_btn_color_icon.all:after{
	right: 0;
	bottom: 0;
}
.bx_filter_btn_color_icon.all:before{
	top:0;
	left: 0;
}
.bx_filter .bx_filter_param_label.disabled .bx_filter_btn_color_icon{
	opacity: .2;
}

/*
* 	BIZ
*
*/
.bx_filter .bx_filter_parameter_biz{
	font-size:15px;
	display:inline-block;
	margin-right:10px;
	text-decoration:none;
	color:#215968;
	border-bottom:1px dashed;
}
.bx_filter .bx_filter_parameter_biz:hover{
	text-decoration:none;
	border-bottom:1px solid;
}
.bx_filter .bx_filter_parameter_biz.active{
	position:relative;
	padding-left:20px;
	color:#d54a4a;
	border-bottom:1px solid;
}
.bx_filter .bx_filter_parameter_biz.active:hover{
	border-bottom:1px dashed;
}
.bx_filter .bx_filter_parameter_biz.active:before{
	position:absolute;
	top:4px;
	left:1px;
	display:block;
	width:13px;
	height:13px;
	content:' ';
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABFElEQVQoz2NgIBJcl+Qzui7J33Vdgo+RWA38NxQknwDp/zekhRoIarghyc94Q15iC5D+f1NJ5v/n7dumE7ZFWqgYbANQ08c1a37+///fAL8GCT7L6zLCf0CaXjbUAdX/j0aWdAJKTACaxookJnJTUeoFyIaHIYH////8ORHZzdw35MTegyRvSAkeAdISYH8oSu4Fid0x0f//5/nzo0BbWOCagBzur0ePvrujp/kf5Aygc54DbZkDYt9UkPj/7czpl0A1ohhuBwra/Lp//809Zwewh8GagfSHpUt+A+VMcXoaKKn45+PHK0/iY8EaX1SUgzyeRDB4gYp4//3+veX9/Hn//379OpPY1ALSyAzEOUDMhksNAKf2po+AEPuKAAAAAElFTkSuQmCC') no-repeat center left;
}

/*
*	BTN result and reset
*
*/
.bx_filter .bx_filter_search_button{
	cursor: pointer;
	outline: none;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:inline-block;
	height:35px;
	margin-right:7px;
	margin-bottom:10px;
	padding:0 10px;
	text-decoration:none;
	color:#1075a2;
	border-top:   1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.2);
	border-bottom:1px solid rgba(0,0,0,.4);
	border-left:  1px solid rgba(0,0,0,.2);
	border-radius:3px;
	background:#f9fafa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfefe), color-stop(100%,#c6e8f2));
	background:-webkit-linear-gradient(top, #fcfefe 0%,#c6e8f2 100%);
	background:   -moz-linear-gradient(top, #fcfefe 0%,#c6e8f2 100%);
	background:    -ms-linear-gradient(top, #fcfefe 0%,#c6e8f2 100%);
	background:     -o-linear-gradient(top, #fcfefe 0%,#c6e8f2 100%);
	background:        linear-gradient(top bottom, #fcfefe 0%,#e4f1f5 100%);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	text-shadow:0 1px 0 0 rgba(255,255,255,.75);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefe', endColorstr='#c6e8f2',GradientType=0 );
}
.bx_filter .bx_filter_search_button:hover{
	background:#f0f9fb;
}
.bx_filter .bx_filter_search_button:active{
	position:relative;
	bottom:-1px;
	background:#e4f1f5;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f5), color-stop(100%,#f9fafa));
	background:-webkit-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:   -moz-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:    -ms-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:     -o-linear-gradient(top, #e4f1f5 0%,#f9fafa 100%);
	background:        linear-gradient(top bottom, #e4f1f5 0%,#f9fafa 100%);
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.08) ;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f5', endColorstr='#f9fafa',GradientType=0 );
}
.bx_filter .bx_filter_search_reset{
	cursor: pointer;
	outline: none;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	display:inline-block;
	height:35px;
	margin-right:7px;
	margin-bottom:10px;
	padding:0 10px;
	/*text-decoration:underline;*/
	color:#586a6f;
	border-radius:3px;
	background:transparent;
	border: none;
	text-shadow:0 1px 0 0 rgba(255,255,255,.75);
}
.bx_filter .bx_filter_search_reset:hover{
	color:#555;
}
.bx_filter .bx_filter_search_reset:active{
	position:relative;
	bottom:-1px;
	/*box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.08) ;*/
}

/*
* 	Result Popup
*
*/
.bx_filter .bx_filter_popup_result{
	font-size:13px;
	font-weight:normal;
	line-height:33px;
	position:absolute;
	z-index:930;
	display:none;
	height:33px;
	margin-top:-7px;
	margin-left:10px;
	padding:0 10px;
	white-space:nowrap;
	color:#3f3f3f;
	border-top:1px solid #1A345C;
	border-right:1px solid #1A345C;
	border-bottom:1px solid #1A345C;
	border-left:1px solid #1A345C;
	border-radius:3px;
	background:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
}

.bx_filter.bx_horizontal .bx_filter_popup_result{
	position: static !important;
	display: inline-block
}
.bx_filter .bx_filter_popup_result.right{left:102%;}
.bx_filter .bx_filter_popup_result.left{right:102%;}
.bx_filter .bx_filter_popup_result a{color:#0073a3;}
.bx_filter .bx_filter_popup_result a:hover{text-decoration:none;}
.bx_filter .bx_filter_popup_result_close{display:none;}

@media (max-width:530px){
	.bx-touch .bx_filter .bx_filter_popup_result{
		font-size:12px;
		line-height:14px;
		position:fixed !important;
		z-index:1001;
		top:auto !important;
		right:0 !important;
		bottom:0 !important;
		left:0 !important;
		margin-top: 0;
		margin-left:0;
		width:auto;
		height:auto;
		padding:10px;
		border-radius:0;
		box-shadow:0 -2px 5px 0 rgba(0,0,0,.1);
	}
	.bx-touch .bx_filter .bx_filter_popup_result_close{
		position:absolute;
		top:50%;
		right:10px;
		display:block;
		width:22px;
		height:22px;
		margin-top:-11px;
		background:url(/local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/images/x.png) no-repeat center;
		background-size:16px;
	}
}


.bx_filter_param_label.disabled{
	border: 0 !important;
	background: none !important;
	opacity: 0.4;
}

.bx_filter_param_label.disabled:hover span{
	cursor: not-allowed !important;
}

.adv__checkbox + .adv__checkbox{
	margin-top: 10px;
}

.catalog__buttons .btn{
	width: 100%;
	text-align: center;
	justify-content: center;
}

.calculator-label {
	max-width: 90%;
}

#smartFilterDropDown6,
#smartFilterDropDown17,
#smartFilterDropDown18,
#smartFilterDropDown19,
#smartFilterDropDown26,
.prop_type_popup_cb .bx_filter_block{
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}

.prop_type_popup_cb .bx_filter_parameters_box_title{
	display: inline-block;
}

.btn-group{
	display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #E8EBEF;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #181818;
    border: 1px solid #E8EBEF;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    margin-right: 16px;
}

.bx_filter .bx_filter_button_box {
    clear: both;
}

.bx_filter .bx_filter_button_box {
    text-align: center;
    padding: 19px 17px 19px 19px;
}

.bx_filter .bx_filter_parameters_box.active.prop_type_popup_cb .adv__checkbox{
	margin-top: 10px;
	margin-right: 10px;
}

.bx_filter .bx_filter_parameters_box.active.prop_type_popup_cb .adv__checkbox .checkbox + label{
	font-size: 0.9rem;
    line-height: 1.2rem;
}

.highlight{
	background: #F29820;
}

.bx_filter_block-search_input{
	box-sizing: border-box;
	border: 1px solid #E4E7EB;
	display: block;
	width: 100%;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}

.bx_filter_block-search_input:hover{
	background: rgba(229, 232, 236, 0.2);

}

.bx_filter_block-search_input:focus{
	border: 1px solid #F29820;
	background: rgba(229, 232, 236, 0.5);
}

.filter__title-hint{
	margin-left: 4px;
}

.__selected .btn-group{
	background: #ffa200;
	border-color: #ffa200;
}


@media (min-width: 769px){
	.bx_filter .bx_filter_parameters_box.active.prop_type_popup_cb .bx_filter_block {
		position: absolute;
		padding: 10px 15px;
		display: none;
		min-width: 232px;
		z-index: 3;
		border-radius: 3px;
		background: #FFF;
		-webkit-box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
		-moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
	}
	.bx_filter .bx_filter_button_box {
		padding: 0;
	}
	
	.bx_filter .bx_filter_button_box {
		margin: 0;
		text-align: left;
		border-top: 1px solid #eee;
		background: #fafafa;
	}
}

@media (min-width: 769px){
	.filter__col.prop_code_SRO .bx_filter_block,
	.filter__col.prop_code_LICENSES .bx_filter_block,
	.filter__col.prop_code_OKVED .bx_filter_block,
	.filter__col.prop_code_MAIN_OKVED .bx_filter_block{
		width: 650px;
	}
}

/* .catalog__filter .filter__col:after {
    content: url(../../../../../../assets/arrow2.svg);
    position: absolute;
    left: 0;
	top: 5px;
    width: 10.5px;
    height: 6px;
	transition: transform 0.2s, top 0.2s;
} */

/* .catalog__filter 
.filter__col.opened:after {
    transform: rotate(90deg);
	top: 10px;
} */

.bx_filter_block 
.checkbox-btn-group span {
	border-radius: 100px;
}

.bx_filter_block 
.checkbox-btn-group {
	display: flex;
	flex-direction: column;
}

.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input {
	width: 90%;
}

.filter__col 
.bx_filter_select_container {
	width: 94%;
}

.filter__col
.checkbox-btn-group span {
	display: block;
}

.filter__col
.filter__title {
	max-width: 70%;
}

@media screen and (max-width: 1244px){
	.smartfilter
	.catalog__btn {
		height: 100%;
	}
}

.filter__container {
	display: flex;
	position: relative;
}

.filter__container
.filter__col {
	padding-left: 0;
}

.smartfilter .filter__arrow {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.filter__arrow:after {
    content: url(../../../../../../assets/arrow2.svg);
    position: absolute;
    left: 0;
	top: 5px;
    width: 10.5px;
    height: 6px;
	transition: transform 0.2s, top 0.2s;
}

.smartfilter .filter__arrow.opened:after {
    transform: rotate(90deg);
	top: 10px;
}

.catalog__filter .filter__col {
	position: relative;
	/* padding-left: 20px; */
	margin-bottom: 0px;
}

.smartfilter .container_opened{
	margin-bottom: 16px;
}

.filter__title {
	margin-bottom: 10px;
}

.main {
    overflow: hidden !important;
}


@media(max-width:1550px){
	.bx_filter .bx_filter_popup_result.left {
		right: -52%;
	}
}

@media(max-width:1250px) {

}
@media(max-width:1244px){
	.bx_filter .bx_filter_popup_result.left {
		right: 0;
	}
}
@media(max-width:769px){
	.bx_filter .bx_filter_popup_result.left {
		right: 0%;
	}
}
@media(max-width:698px){
	.bx_filter .bx_filter_popup_result.left {
		right: 0;
	}
}

@media(max-width:605px){
	.bx_filter .bx_filter_popup_result.left {
		right: -9%;
	}
}
@media(max-width:531px){
	.bx_filter .bx_filter_popup_result.left {
		right: 0%;
	}
}
/* End */


/* Start:/local/templates/bankfirm/components/bitrix/news.list/catalog/style.css?17005602542680*/
.catalog__pagination{
	margin: 50px 0 0 0;
}

.link-show-more_okved{
	display: inline-block;
	border-bottom: 1px dashed;
	font-size: 12px;
	line-height: 14px;
}
.link-show-more_okved:hover{
	cursor: pointer;
	color: #FFA200;
}

.card-firm__col-okved{
	max-width: 350px;
}

.bx_filter .bx_filter_button_box {
padding: 0 !important;
}

@media screen and (max-width: 450px) {
.main__content {
padding: 64px 0 !important;
}
}


.inp input:focus{
	border: 2px solid #bac2ce !important; 
}

.catalog-section .inp .label {
	top: 0px !important;
}

.container_window_not_found {
    margin: 0 auto;
    background-color: #1a345c;
    margin-top: 32px;
	position: relative;
	padding: 32px;
}

.container_window_not_found h2 {
	font-weight: 700;
	font-size: 32px;
	color: #fff;
	width: fit-content;
	margin: 0 auto 24px auto;
}

.container_window_not_found form {
	max-width: 600px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.container_window_not_found form input {
	background: transparent;
	color: #fff;
        margin-bottom: 0px;
}

.sell__inline {
	color: #fff;
}

.container_window_not_found form a {
	color: #ffa200;
}

.wrap_bg_dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	position: relative;
	width: 100%;
}

.dots_bg_wrap {
    display: grid;
    grid-template-columns: repeat(5, 15px);
    gap: 40px;
	margin: 0 !important;
	position: absolute;
}

.place_dots_2 {
	right: 0;
	top: 3em;
}

.dot_item_bg {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(255, 162, 0, 0.2);
}

.adv__checkbox {
	grid-column-start: 1;
	grid-column-end: 3;
}

.container_window_not_found .adv__checkbox {
	margin: 0 0 0 5vw;
}


.form-actions {
	grid-column-start: 1;
	grid-column-end: 3;
}

.catalog-section .form-item-name {
	margin-right: 16px;
	overflow: hidden;
}

.catalog-section .form-item-phone {
	margin-left: 16px;
	overflow: hidden;
}

.catalog-section .form-item-name input {
	padding: 23px;
}

.catalog-section .form-item-phone input {
	padding: 23px;
}

.adv__checkbox .error-msg {
	bottom: 80% !important;
	left: -10% !important;
} 
.error-msg {
	bottom: 20px !important;
	right: 10px !important;
}

.checkbox_not_found {
	border: 1px solid #bac2ce;
}

.uk-text-center h2 {
	text-transform: uppercase;
	color: #1A345C;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	margin-top: 16px;
}

.modal_thanks_svg {
	margin: 25px auto;
	display: block;
	fill: #4caf50;
}

.success-text {
  font-weight: bold;
  color: #4caf50;
  font-size: 16px;
  margin: 0 auto;
  width: fit-content;
}
.card-firm__title > a{
	display: flex;
	line-height: 32px;
}
/* End */
/* /local/templates/bankfirm/components/bitrix/catalog.smart.filter/catalog/style.css?170918800830260 */
/* /local/templates/bankfirm/components/bitrix/news.list/catalog/style.css?17005602542680 */
