

/* Start:/local/templates/bankfirm/components/bitrix/system.auth.authorize/bankfirm/style.css?1689746415245*/
.form-links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.auth__col{
	margin-top: 64px;
}

.auth__col .form-actions{
	padding-top: 0;
}

body div.auth{
	padding-top: 0 !important;
}
/* End */
/* /local/templates/bankfirm/components/bitrix/system.auth.authorize/bankfirm/style.css?1689746415245 */
