:root {
    --header-height: 100px;
}

@font-face {
    font-family: 'Floripa';
    src: url(../fonts/Floripa.ttf);
    font-weight: 400;
  }

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html{
    box-sizing: border-box;
    background-color: #F8F8FB;
}
*, *::before, *::after{
    box-sizing: inherit;
}

li{
    list-style: none;
}

hr{
    list-style: none;
    color: #EFF4F6;
    width: 64px;
    transform: rotate(90deg);
}

body{
    margin: 0;
    display: flex;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    color: #000000;
    width: 100%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

ol, ul{
    list-style: none;
}



.aside {
    height: 100vh;
    width: 100px;
    position: absolute;

}

.aside_active {
    width: 340px;
}


.menu__header{
    height: var(--header-height);
    width: 100%;
    background-color: #7437FD;
    margin: 0; 
    /* top: 30px;
    left: 25px; */
    padding: 30px 18px 30px 25px;
    display: flex;
    align-items: center;
}


.menu__header-img{
    width: 50px;
    height: 40px;

}


.menu__header-item {
    font-family: Floripa;
    font-weight: 400;
    font-size: 12px;
    padding-left: 25px;
    color: #fff;
}

.menu{
    height: calc(100% - var(--header-height));
    margin: 0;
    width: 100%;
    display: flex;
    background-color: RGB(68,68,68);
    padding: 32px 0 59px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.menu:second-child{
    display: flex;
    justify-content: flex-end;
    align-content:stretch;
}

.navigation a {
    text-decoration: none;
    
}



.navigation__link {
    color: #AFAFAF;
    display: flex;
    align-items: center;
    padding-left: 23px;
}



.navigation__link-preview {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.navigation__link-text {
    padding-left: 23px;
    font-size: 14px;
    color: #AFAFAF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

/* .navigation__link:hover {
    color: #fff;
} */

.navigation__item a:hover .navigation__link-text,
.navigation__item a:hover .navigation__link-preview {
    color: #fff;
}



/* .navigation__link:focus {
    color: #452DAB;
}

.navigation__link:active {
    color: #452DAB;
} */

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation__item_active .navigation__link-preview {
    background-color: #fff;
}
.navigation__item_active .navigation__link-preview svg path {
    fill: #452DAB;
}


.navigation__item_active:hover .navigation__link-preview svg {
    fill: #452DAB;
}




/* .navigation__item:hover .navigation__item_active {
    fill: #452DAB;
} */


.navigation__item:not(:last-child) {
    margin-bottom: 15px;
}

.body{
    width: calc(100% - 100px);
    height: 100vh;
    margin-left: 100px;
}

.header{
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #fff;
}


.header__container{
    /* padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 18px 40px;
}

.header__user{
    text-align: right;
    margin-right: 14px;
    
}

.header__username-link{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    margin-bottom: 4px;
}

.header__user-status{
    text-decoration: none;
    font-size: 12px;
    color: #A6ACBE;
}



.header__logout {
    padding-left: 35px;
    margin-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #EFF4F6;
}



.main{
    background-color: #F8F8FB;
    padding: 40px 40px 15px 40px;
    overflow: auto;
    height: calc(100% - var(--header-height));
}


/* .analytics{
    margin: 40px 0 0 60px;
} */

.analytics__body{
    display: flex;
    width: fit-content;
    left: 160px;
    flex-wrap: wrap;
}


.analytics__container{
    background-color: #FFFFFF;
    margin-bottom: 3rem !important;
    border-radius: 30px;
    margin-right: 20px;
}

.analytics__container-header {
    font-weight: 600;
    padding: 25px 103px 0 30px;
    max-width: 100%;
    padding-bottom: 21px;
    width: 100%;
    border-bottom: 1px solid #EEF0F6;
}

.analytics__container-user{
    padding-right: -31px;
}

/* .analytics__item:not(:last-child) {
    margin-right: 30px;
} */

/*.analytics__item:last-child {*/
/*    margin-left: 30px;*/
/*}*/

.analytics__list {
    margin: 0;
    padding: 0;
    /* margin-bottom: -18px;
    margin-top: -18px; */
}



.analytics__item {
    font-weight: 500;
    color: #747988;
    display: flex;
}



.analytics__item:first-child .analytics__item-text,
.analytics__item:first-child .analytics__item-number {
    padding-top: 26px;
}

.analytics__item:last-child .analytics__item-text,
.analytics__item:last-child .analytics__item-number {
    padding-bottom: 26px;
}


.analytics__item-text {
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.analytics__item-text, .analytics__item-number {
    padding: 8px 30px 8px;
}


.analytics__item-number {
    
    padding-left: 59px;
    padding-right: 64px;
    max-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #EEF0F6;
}

/* .subscription{
    padding-bottom: 15px;
} */

.subscription__header{
    padding-bottom: 10px;
}



.subscription__header-list{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #747988;
    font-weight: 500;
    max-width: 705px;
    width: 100%;
    margin-right: 10px;
}

.subscription__header-item{
    display: flex;
    padding-right: 20px;
}

.filter{
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    max-width: 100%;
    width: 100%;


    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;


    height: 60px;
    border-radius: 30px;
}


.filter__search{
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    padding-left: 40px;
    outline: none;
    box-sizing: border-box;
}

.filter__btn{
    background-color: #7437FD;
    width: 300px;
    height: 100%;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    border-left: none;
}

.status{
    display:flex;
    background-color: white;
}

.status__name{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
}

.status__item{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
}




.subscription__list {
    margin: 0;
    padding: 0;
    list-style: none;

    background: #ffffff;
    margin-top: 22px;
    border-radius: 30px;

    color: #747988;
}


.subscription__item {
    display: flex;
}
.subscription__item > * {
    padding: 8px 30px;

    max-width: 300px;
    width: 100%;
    border-right: 1px solid #EEF0F6;
}
.subscription__item:nth-child(2) * {
    padding-top: 16px;
}
.subscription__item:last-child * {
    padding-bottom: 16px;
}
.subscription__item-status_yellow {
    color: #FFB800;
}
.subscription__item-status_green {
    color: #33D69F;
}
.subscription__item_header * {
    border-bottom: 1px solid #EEF0F6;
    color: #000000;
}
.subscription__item_header > * {
    height: 70px;
    display: flex;
    align-items: center;

    font-weight: 600;

    border-right: none;
}


.pagination__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px;
}

.pagination{
    display: flex;
    max-width: 288px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
}

.pagination a {
    height: 38px;
    text-decoration: none;
    color: #222;
    padding: 8px 16px;
}

.pagination li:not(:last-child) {
    border-right: 1px solid #EEF0F6;
}





/* модальное окно */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}


.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

/* модальное окно */







/* 2.html */

.letter__templates{
    padding-left: 60px;
    margin-top: 40px;
    max-width: 885px;  
    width: 100%;
}

.letter__templates-text{
    font-size: 14px;
    font-weight: 500;
    color: #747988;
    height: 66px;
}

.templates__container{
    display: flex;
    width: fit-content;
    left: 160px;
    padding-left: 60px;
    padding-top: 50px;
    height: 220px;
    height: 100%;
}

.templates__item{
    background-color: #FFFFFF;
    margin-bottom: 3rem !important;
    border-radius: 30px;
    max-width: 415px;
    width: 100%;
}

.templates__item:last-child{
    margin-left: 20px;
}


.templates__header{
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    font-size: 14px;
    font-weight: 600;
    padding: 25px 30px 24px 30px;
    border-bottom: 1px solid #EEF0F6;
}

.templates__text{
    font-size: 14px;
    font-weight: 500;
    color: #747988;
    padding: 25px 30px 24px 30px;
    
}

.templates__header-action-unactive {
    color: #FF4C61;
}
.templates__header-action-active {
    color: #33D69F;
}

.create__template{
    padding: 30px 0 0 60px;
}

.create__template-btn{
    position: absolute;
    background-color: #7437FD;
    height: 60px;
    width: 300px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    border-left: none;
}

/* 2.html */