/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */


html{
    box-sizing: border-box;
    background-color: #F8F8FB;
}
*, *::before, *::after{
    box-sizing: inherit;
}

li{
    list-style: none;
}

hr{
    list-style: none;
    color: #EFF4F6;
    width: 64px;
    transform: rotate(90deg);
}

body{
    margin: 0;
    display: flex;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    color: #000000;
    width: 100%;
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

ol, ul{
    list-style: none;
}



.menu__header{
    height: 100px;
    width: 100px;
    background-color: #7437FD;
    margin: 0; 
    /* top: 30px;
    left: 25px; */
    padding: 25px;
}

.menu__header-img{
    width: 50px;
    height: 40px;
    top: 30px;
    left: 25px;
}

.menu{
    height: calc(100% - 100px);
    margin: 0;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: RGB(68,68,68);
    /* padding-top: 30px; */


    padding: 32px 0 59px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu:second-child{
    display: flex;
    justify-content: flex-end;
    align-content:stretch;
}

.navigation{
    align-items: center;
    /* display: flex;
    flex-direction: column; */
    /* padding-left: 25px;
    padding-right: 25px; */
    box-sizing: border-box;

}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation__item_active .navigation__link-preview {
    background-color: #fff;
}
.navigation__item_active .navigation__link-preview svg path {
    fill: #452DAB;
}



.navigation__item:hover .navigation__link-preview svg path {
    fill: #fff;
}




.navigation__item:not(:last-child) {
    margin-bottom: 15px;
}
.navigation__link-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 10px;
}


/* .navigation__home:active{
    background-image: url(../img/svg/Base.svg);

    width: 54px;
    height: 54px;
    border-radius: 10px;
} */

button.navigation__home:hover {
    width: 54px;
    height: 54px;
    border-radius: 10px;
    background-image: url(../img/svg/active-buttons/fi-rr-home.svg);
}



.info{ /*информация*/
    display: flex;

    justify-content: center;

}


.body{
    width: 100%;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #fff;
}


.header__container{
    /* padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 18px 40px;
}

.header__user{
    text-align: right;
    margin-right: 14px;
    
}

.header__username-link{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    margin-bottom: 4px;
}

.header__user-status{
    text-decoration: none;
    font-size: 12px;
    color: #A6ACBE;
}



.header__logout {
    padding-left: 35px;
    margin-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #EFF4F6;
}




.main{
    background-color: #F8F8FB;
    padding: 40px;
}


/* .analytics{
    margin: 40px 0 0 60px;
} */

.analytics__container{
    display: flex;
    width: fit-content;
    left: 160px;
    flex-wrap: wrap;
}


.analytics__item{
    background-color: #FFFFFF;
    margin-bottom: 3rem !important;
    border-radius: 30px;
}

.analytics__item:not(:last-child) {
    margin-right: 30px;
}

/*.analytics__item:last-child {*/
/*    margin-left: 30px;*/
/*}*/

.analytics__item-list {
    margin: 0;
    padding: 0;
}
.analytics__item-header {
    font-weight: 600;
    padding: 25px 103px 0 30px;
    max-width: 100%;
    padding-bottom: 21px;
    width: 100%;
    border-bottom: 1px solid #EEF0F6;
}


.analytics__item-item {
    font-weight: 500;
    color: #747988;
    display: flex;
}



.analytics__item-item:first-child .analytics__item-item-text,
.analytics__item-item:first-child .analytics__item-item-number {
    margin-top: 16px;
}

.analytics__item-item:last-child .analytics__item-item-text,
.analytics__item-item:last-child .analytics__item-item-number {
    margin-bottom: 16px;
}


.analytics__item-item-text {
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.analytics__item-item-text, .analytics__item-item-number {
    padding: 8px 30px;
}


.analytics__item-item-number {
    border-left: 1px solid #EEF0F6;
    padding-left: 59px;
    padding-right: 64px;
    max-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}


.subscription__header{
    padding-bottom: 10px;
}

.subscription-text{
    padding-bottom: 10px;
}

.subscription__info{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #747988;
    font-weight: 500;
    max-width: 705px;
    width: 100%;
    margin-right: 10px;
}

.filter{
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    max-width: 1700px;
    width: 100%;
}


.filter__search{
    display: block;
    float: inline-end;
    height: 60px;
    width: 100%;
    position: static;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding-left: 41px;
    outline: none;
    box-sizing: border-box;
}

.filter__btn{
    position: absolute;
    background-color: #7437FD;
    height: 60px;
    width: 300px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    border-left: none;
}

.status{
    display:flex;
    background-color: white;
}

.status__name{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
}

.status__item{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
}














.subscription__list {
    margin: 0;
    padding: 0;
    list-style: none;

    background: #ffffff;
    margin-top: 22px;
    border-radius: 30px;

    color: #747988;
}


.subscription__item {
    display: flex;
}
.subscription__item > * {
    padding: 8px 30px;

    max-width: 300px;
    width: 100%;
    border-right: 1px solid #EEF0F6;
}
.subscription__item:nth-child(2) * {
    padding-top: 16px;
}
.subscription__item:last-child * {
    padding-bottom: 16px;
}
.subscription__item-status_yellow {
    color: #FFB800;
}
.subscription__item-status_green {
    color: #33D69F;
}
.subscription__item_header * {
    border-bottom: 1px solid #EEF0F6;
    color: #000000;
}
.subscription__item_header > * {
    height: 70px;
    display: flex;
    align-items: center;

    font-weight: 600;

    border-right: none;
}











 


/* 2.html */

.letter__templates{
    padding-left: 60px;
    margin-top: 40px;
    max-width: 885px;  
    width: 100%;
}

.letter__templates-text{
    font-size: 14px;
    font-weight: 500;
    color: #747988;
    height: 66px;
}

.templates__container{
    display: flex;
    width: fit-content;
    left: 160px;
    padding-left: 60px;
    padding-top: 50px;
    height: 220px;
    height: 100%;
}

.templates__item{
    background-color: #FFFFFF;
    margin-bottom: 3rem !important;
    border-radius: 30px;
    max-width: 415px;
    width: 100%;
}

.templates__item:last-child{
    margin-left: 20px;
}


.templates__header{
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    font-size: 14px;
    font-weight: 600;
    padding: 25px 30px 24px 30px;
    border-bottom: 1px solid #EEF0F6;
}

.templates__text{
    font-size: 14px;
    font-weight: 500;
    color: #747988;
    padding: 25px 30px 24px 30px;
    
}

.templates__header-action-unactive {
    color: #FF4C61;
}
.templates__header-action-active {
    color: #33D69F;
}

.create__template{
    padding: 30px 0 0 60px;
}

.create__template-btn{
    position: absolute;
    background-color: #7437FD;
    height: 60px;
    width: 300px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    border-left: none;
}

/* 2.html */