
.background-orange, .background-1{
	background-color:rgb(254, 174, 1);
	color:#fff;
}

.background-orange *, .background-1 *{
	color:#fff;
}

.border-orange{
	border-color:rgb(254, 174, 1);
}


.cyanLinks a{
	color:#00c5ff;
}

.orangeLinks a{
	color:#f57a03;
}

.cyanLinks a:hover, .orangeLinks a:hover{
	color:#fff;
}